.ProductButton{
   
   background-color: #FEBD69;
   border: 1px solid #a7a7a7;
       padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
    padding-left: 15px;
   
}
.card{
       box-shadow: 0px 1px 6px 0px #0000002e!important;
}
.ProductButton:hover{
   opacity: .8;
}
.ProductCard{
         margin-top: -25%;
}
.price{
   font-weight: 600;
   margin-right: 5px;
}
.ProductDiscription{
font-size: 18px;
font-weight: 500;
}