.container{
      max-width: 1500px;
    min-width:1330px;
    width: 100%;
}
section{
   background: #f5f5f5;;
}
.CardHover{
   transition: 400ms;
}
.CardHover:hover{
   transform: scale(1.03);
   transition: 400ms;
}
.basketHeader{
   font-size: 40px;
    font-weight: 700;
    letter-spacing: .7px;
}
.Card{
   margin-top: 82px;
    background: #ecececbd;
    padding: 30px;
       box-shadow: 0px 0px 9px 0px #0000002e;
}
.ProductTitle{
   font-size: 22px;
}
.checkoutRight > .checkOut-add{
   min-height: 22vh;
}