.carousel-indicators{
   display: none;
   
}
.carousel-item{
   position: relative;
}
.carousel-item > img{
   mask-image: linear-gradient(
178deg
, rgba(0,0,0,1), rgba(0,0,0,0));
   -webkit-mask-image: linear-gradient(
178deg
, rgba(0,0,0,1), rgba(0,0,0,.2));
}
.carousel-control-next-icon, .carousel-control-prev-icon{
   display: none;
}